.project-title {
  font-family: 'Saira Semi Condensed', sans-serif;
  text-align: center;
}

.main-content {
  margin-top: 5rem;
}

.quote-container {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 30px;
  padding-bottom: 80px;
  font-size: 1.5rem;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  transition: background-color 150ms;
}

.quote-container:hover {
  background-color: #eee;
  transition: background-color 150ms;
}

.author {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-weight: bold;
}


.buttons {
  display: flex;
  justify-content: space-around;
}
